
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                        <div class="logo">LOGO</div>
                </div>
                <div class="col-md-4 col-md-offset-6">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="weltxt">您好，张三，欢迎登陆零售IOT平台</p>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-info mt13">退出</button>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
