.mtplist1{
    margin-top: 30px;
}
.mtplist2{
    margin: 15px 0;
}
.mtplist3{
    margin-top:70px;
}
.bg1{
    background-color: #f1f1f1;
    border-bottom: 2px solid #fff;
}
.mbt1{
    margin-bottom: 20px;
}
.padr1{
    padding-right: 20px;
}